html,body {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    background-color: #212121;
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}


.main-container {
    display: grid;
    grid-template-columns: 280px auto;
}


#sidebar {
    display: grid;
    grid-template-rows: 100px;
    grid-auto-rows: 300px;
    justify-items: center;
    background-color: #1d2b3a;
    color: #ffffff;
    gap: 10px;
    height: 100vh;
}

p {
    font-size: 1.1rem;
    width: 210px;
}

.side-navigation, .side-extra {
    display: grid;
    justify-items: center;
    align-content: center;
    font-family: 'Roboto';
}


.icons {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 50px);
    margin-right: 80px;
}


header {
    display: grid;
    height: 200px;
    grid-template-rows: 70px 150px;
    grid-template-columns: repeat(10, 150px);
    background-color: white;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
}

.search-bar {
    display: grid;
    align-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2, 40px);
    margin-top: 20px;
    margin-left: 60px;
}

input {
    width: 600px;
    height: 30px;
    border-style: none;
    border-radius: 20px;
    background-color: #e2e8f0;
    padding-left: 15px;
    font-size: 1rem;
}

.right-profile {
    display: grid;
    align-items: center;
    gap: 30px;
    grid-template-columns: repeat(3, 50px);
    grid-column: 9 / 10;
}

#right-pfp {
    width: 60px;
    border-radius: 50%;
}

.right-profile p {
    font-family: 'Roboto';
    width: 200px;
    font-weight: 700;
}


.bottom-profile {
    display: grid;
    align-items: center;
    grid-template-columns: 80px 200px;
    grid-column: 2 / 5;
    gap: 20px;
}

.bottom-profile p {
    font-family: 'Roboto';
    font-size: 1.4rem;
    width: 270px;
    font-weight: 700;
}

.bottom-profile img {
    width: 80px;
    border-radius: 50%;
}

span {
    font-size: 0.9rem;
}

.header-buttons {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 100px);
    gap: 60px;
    grid-column: 8 / 10;
}

button {
   
    background-color: #336091;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 20px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    color: #fff;
    cursor: pointer;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 600;
    width: 120px;
    height: 44px;
}


button:hover {
    background-color: #1a385f;
  }
  
  button:active {
    background-color: #112641;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }