html,body {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    background-color: #212121;
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}


.main-container {
    display: grid;
    grid-template-columns: repeat(6, 320px);
    grid-template-rows: repeat(9, 100px);
}


#sidebar {
    display: grid;
    grid-template-rows: 100px;
    grid-auto-rows: 300px;
    justify-items: center;
    background-color: #1d2b3a;
    color: #ffffff;
    gap: 10px;
    height: 100vh;
}

.side-navigation p, .side-extra p {
    font-size: 1.1rem;
    cursor: pointer;
}

.side-navigation, .side-extra {
    display: grid;
    justify-items: center;
    align-content: center;
    font-family: 'Roboto';
}


.icons {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 50px);
    margin-right: 80px;
}


header {
    display: grid;
    grid-column: 2 / 8;
    height: 180px;
    grid-template-rows: 70px 110px;
    grid-template-columns: repeat(10, 150px);
    background-color: white;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
}

.search-bar {
    display: grid;
    align-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2, 40px);
    margin-top: 20px;
    margin-left: 60px;
}

input {
    width: 600px;
    height: 30px;
    border-style: none;
    border-radius: 20px;
    background-color: #e2e8f0;
    padding-left: 15px;
    font-size: 1rem;
}

.right-profile {
    display: grid;
    align-items: center;
    gap: 30px;
    grid-template-columns: repeat(3, 50px);
    grid-column: 9 / 10;
}

.bell {
    cursor: pointer;
}

.right-pfp {
    width: 60px;
    border-radius: 50%;
}

.right-profile p {
    font-family: 'Roboto';
    width: 200px;
    font-weight: 700;
}


.bottom-profile {
    display: grid;
    align-content: space-between;
    align-items: center;
    grid-template-columns: 80px 200px;
    grid-column: 2 / 5;
    gap: 20px;
}

.bottom-profile p {
    font-family: 'Roboto';
    font-size: 1.4rem;
    width: 270px;
    font-weight: 700;
}

.bottom-profile img {
    width: 80px;
    border-radius: 50%;
}

span {
    font-size: 0.9rem;
}

.header-buttons {
    display: grid;
    margin-bottom: 30px;
    align-items: end;
    grid-template-columns: repeat(3, 100px);
    gap: 60px;
    grid-column: 8 / 10;
}

button {
    background-color: #336091;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 20px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    color: #fff;
    cursor: pointer;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 600;
    width: 120px;
    height: 44px;
}


button:hover {
    background-color: #1a385f;
  }
  
  button:active {
    background-color: #112641;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }


.main-content {
    display: grid;
    grid-column: 2 / 5;
    grid-row: 3 / 10;
    grid-template-columns: repeat(3, 500px);
    margin-left: 50px;
}

.first-section {
    display: grid;
    gap: 15px;
    grid-template-rows: 20px 230px 230px 230px;
}

h2 {
    display: grid;
    margin: 0%;
    margin-left: 25px;
    color: white;
}


.box {
    display: grid;
    grid-template-rows: 50px 120px;
    background-color: white;
    padding-left: 20px;
    width: 380px;
    border-radius: 3%;
    margin-left: 20px;
    border-left: 8px solid orange;
}

.box p {
    font-family: 'Roboto';
    width: 300px;
    font-size: 1rem;
    margin: 0%;
}

.box-icons {
    display: grid;
    justify-content: end;
    grid-template-columns: repeat(3, 50px);
}

.box-icons img {
    cursor: pointer;
}

.second-section {
    display: grid;
    gap: 15px;
    grid-template-rows: repeat(3, 230px);
    margin-top: 34px;
}

.third-section {
    display: grid;
    gap: 15px;
    grid-template-rows: 20px 300px 20px 350px;
    
}

.small-box {
    display: grid;
    grid-template-rows: 40px 50px 1px  40px 50px 1px  40px 50px;
    background-color: white;
    padding-left: 20px;
    width: 330px;
    border-radius: 3%;
    margin-left: 20px;
}

.row-border {
    border-top: 2px solid grey;
    width: 310px;
}

.small-box p {
    font-family: 'Roboto';
    width: 300px;
    font-size: 0.8rem;
    margin: 0%;
}

.small-box h3 {
    font-size: 1rem;
}

.small-box-two {
    display: grid;
    background-color: white;
    padding-left: 20px;
    width: 330px;
    border-radius: 3%;
    margin-left: 20px;
    grid-template-rows: repeat(4, 85px);
}

.trending-pfp {
    margin-top: 10px;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.profiles {
    display: grid;
    grid-template-columns: 80px;
    grid-template-rows: 25px;
}

.profiles h3, .profiles p {
    font-family: "Roboto";
    grid-column: 2 / 3;
    cursor: pointer;
}

